<!-- app/views/document_mailer/send_document.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Olá, <strong><%= @contact.name %></strong>,</p>

<%= @text_email.html_safe %>

<p>Atenciosamente,<br>

</body>
</html>
